$primary-color_1: #a40b00;
$primary-color_2: #b81f14;
$secondary-color: rgb(26, 67, 105);
$gray-color_1: #1d2021;
$gray-color_2: #2e3235;
$gray-color_3: #3f4447;
$gray-color_4: #aaa59e;
$gray-color_5: #d0cbc2;
$gray-color_6: #dfdbd5;
$gray-color_7: #f4f2ee;

.textarea,
.input {
  background-color: $gray-color_3;
  color: $gray-color_7;
  padding: 0.6rem;
  border-radius: 10px;
  border: none;

  &::placeholder {
    opacity: 1;
    color: $gray-color_4;
  }

  &:focus {
    outline: 0;
  }
}
