.aside-btn_closer {
  position: relative;
  left: 10px;
  top: 8px;
  margin-bottom: 1rem;
}

.aside-content {
  background-color: $gray-color_1;
}

.posts-list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 1rem 1.2rem;
  overflow-y: scroll;
  height: calc(100% - 2.8rem);
}

@media (min-width: $breakpoint) {
  .posts-list {
    height: 100%;
  }
}
