.post {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: $gray-color_2;
  border-radius: 10px;
  padding: 1.6rem;
  transition: background-color 200ms ease-in;
  justify-content: end;
  position: relative;

  &:hover {
    cursor: pointer;
    background-color: $gray-color_3;
    box-shadow: 0 1px 3px 0 $gray-color_3;

    .post__icon-container {
      visibility: visible;
      opacity: 1;
      transition: opacity 10ms 200ms ease-in;
    }

    .post__content {
      width: 80%;

      .post__feeling {
        max-width: 260px;
      }
    }
  }

  .post__icon-container {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    flex-grow: 0;
    position: absolute;
    left: 0.8rem;
    visibility: hidden;
    opacity: 0;

    .post__icon {
      width: 100%;
    }
  }

  .post__content {
    width: 100%;
    color: $gray-color_7;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    line-height: 20px;
    font-size: 14px;
    transition: width 200ms ease-out;
  }
}

.post__content {
  .post__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .post__feeling {
    white-space: nowrap;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}

.post__header {
  .city-date-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    .city-container {
      position: relative;
      left: -2px;
      display: flex;
      align-items: center;
      gap: 0.3rem;
    }

    .city {
      font-size: 16px;
      color: $gray-color_7;
    }

    .date {
      font-size: 12px;
      color: $gray-color_5;
    }
  }

  .temp-container {
    display: flex;
    color: $gray-color_7;
    align-items: flex-start;
    position: relative;

    .temp-value {
      font-size: 24px;
    }
    .temp-unit {
      font-size: 14px;
      font-weight: 600;
      position: relative;
      top: 0px;
      line-height: 14px;
    }
  }
}
